node_modules
v5
dist
dev-parcel
dump
notpushed
.cache
Statusliste-eTrax.xlsx
bos_import/data/track.json
read/readtracks-bak.php
encrypt-j.php
gruppen-neu.json
index-bak.php
read_json.php
Userdoku_v1.pdf
apptest/
app/
js/ace.js
read/read_json.php
write/write_json_to_db.php
benutzer_01052020.php
js/benutzer_bak.js
pdf/images/maptemp0.png
pdf/images/maptemp1.png
pdf/images/maptemp2.png
pdf/images/maptemp3.png
pdf/images/maptemp4.png
pdf/images/maptemp5.png
pdf/images/maptemp6.png
pdf/.htaccess
apispec.yaml
read_write_db-bak.php
inc/readtracks1.php
bos_import/post.php
bos_import/post.php
bos_import/post.php
bos_import/post.php
bos_import/senddata.php
package-old.json
composer.lock
composer.json
dev-middleware
dev/vendor/
dev/readdatabase.php
