@font-face {
	font-family: 'RobotoLight';
	src: url(../vendor/fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'RobotoRegular';
	src: url(../vendor/fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'RobotoMedium';
	src: url(../vendor/fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'RobotoBold';
	src: url(../vendor/fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'OxaniumRegular';
	src: url(../vendor/fonts/Oxanium-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'OxaniumSemiBold';
	src: url(../vendor/fonts/Oxanium-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'OxaniumBold';
	src: url(../vendor/fonts/Oxanium-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'JuraLight';
	src: url(../vendor/fonts/Jura-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'JuraMedium';
	src: url(../vendor/fonts/Jura-Medium.ttf) format('truetype');
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../vendor/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('fonts/Material Icons'),
		local('fonts/MaterialIcons-Regular'),
		url(../vendor/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(../vendor/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(../vendor/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
