.starticons a {
	color: #455a64;
	font-size: 1.5em;
	line-height:50px;
}
.starticons {
	width:100%;
	height:50px;
	line-height:50px;
}
a:hover, a:hover .material-icons {
	color: #455a64;
}
.infofooter{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-left:20px;
	height: 38px;
	background-color: none;
	color: #fff;
	z-index:40;
}
[data-toggle="collapse"] .fa:before {  
	font-family: 'Material Icons';
	color: #D3302F;
	font-size:1.5em;
	vertical-align: sub;
	content: 'expand_less'
}

[data-toggle="collapse"].collapsed .fa:before {
	font-family: 'Material Icons';
	color: #D3302F;
	font-size:1.5em;
	vertical-align: sub;
	content: 'expand_more'
}

#admin_index #members{overflow-y: inherit;overflow-x: inherit; background-image: none;}
.tooltip{
	z-index: 1000000;
}
.useredit select{
	-webkit-appearance:none;
	border:0;
	width:22px;
	background:transparent;
}
li:hover .useredit select{
	color:#fff;
}
.useredit.active select{
	border:1px solid #888;
	background:#CC0000;
	color:#fff;
}

	
	span.trix-button-group.trix-button-group--file-tools {
			display:none;
	}
	button.trix-button.trix-button--icon.trix-button--icon-strike {
			display:none;
	}
	button.trix-button.trix-button--icon.trix-button--icon-link {
			display:none;
	}
	button.trix-button.trix-button--icon.trix-button--icon-quote {
			display:none;
	}
	button.trix-button.trix-button--icon.trix-button--icon-code {
			display:none;
	}
	
.infotext{
	font-size: .9em;
	border-radius:5px;
	background-color: rgba(50,155,255,.5);
	padding:10px;
	margin-bottom:20px;
}

.editmenu .btn,
.editmenu .btn .material-icons{
	color:#dc3545;
}
.editmenu .btn:hover,
.editmenu .btn:hover .material-icons{
		color:#fff;
}
#OID_select{
	width:300px;
}
#OID_select .list-group-item.active{
	background:#dc3545;
}
#adminTab.nav-tabs{
	.nav-link{
		background-color: #ffffff70;
		color: #007bff;
		font-size:20px;
		&.active{
			background-color: #ffffff;
			color: #343a40
		}
	}
} 
#adminTabContent{
	.collapse {
		padding-top: 20px;
	}
	h5{
		margin:0;
		.btn{
			font-size:18px;
		}
	}
	label{
		width:250px;
	}
}
.logoupload{
	#preview{
		width:200px
	}
}
